{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 90,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel-flow"
      }
    }
  ]
}
